<yandex>
  <listen_host>0.0.0.0</listen_host>
  <remote_servers incl="clickhouse_remote_servers" >
    <ontime_cluster>
      <shard>
        <internal_replication>true</internal_replication>
        <replica>
          <default_database>r0</default_database>
          <host>ch-server-1</host>
          <port>9000</port>
        </replica>
        <!-- <internal_replication>true</internal_replication> -->
        <replica>
          <default_database>r1</default_database>
          <host>ch-server-3</host>
          <port>9000</port>
        </replica>
        <!-- <internal_replication>true</internal_replication> -->
        <replica>
          <default_database>r0</default_database>
          <host>ch-server-2</host>
          <port>9000</port>
        </replica>
      </shard>
    </ontime_cluster>
  </remote_servers>
  <zookeeper incl="zookeeper" optional="true" />
  <zookeeper>
    <node index="1">
        <host>zookeeper</host>
        <port>2181</port>
    </node>
  </zookeeper>
</yandex>
